<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Andy Vue Demo</title>
</head>
<body>
    <div id="app">
        <h1>{{app_title}}</h1>
        <h2>{{app_subhead}}</h2>
        
       

        <ul>
            <li v-for="item in contacts" :key="item.email">
                <a :href="'mailto:' + item.email"> {{item.first}} {{item.last}}</a>: {{item.phone}} {{item.notes}}
            </li>
        </ul>

        <div>
            <input v-model="new_contact.first" type="text" placeholder="First Name">
            <input v-model="new_contact.last" type="text" placeholder="Last Name">
            <input v-model="new_contact.phone" type="text" placeholder="Phone">
            <input v-model="new_contact.email" type="text" placeholder="Email">
            <input v-model="new_contact.notes" type="text" placeholder="Notes">
           <button @click="newContact()">Save New Contact</button>
        </div>
    </div>
<!-- *** JS CODE *** -->
    <script>
        var app = new Vue({
  el: '#app',
  data: function () {
      return {
    app_title: 'Hello Vue!',
    app_subhead: 'Contact List',
    new_contact: {
        first: "First",
        last: "Last",
        phone: "333-333-3333",
        email: "Email@email.edu",
        notes: "",
    },
    contacts: [
       { 
        first: "Andy",
        last: "Gardner",
        phone: "555-555-5555",
        email: "andy.gardner@uconn.edu",
        notes: "These are some notes."
    },
    {
        first: "Andy",
        last: "Gardner",
        phone: "555-555-5555",
        email: "andy.gardner@uconn.edu",
        notes: "These are some notes."

    }
    ]
  }
  },
  methods: {
      newContact: function(){
          this.contacts.push(
              
                JSON.parse(JSON.stringify(this.new_contact))  
          
          );
      
      }   
    }
})
  
    </script>

</body>
</html>