body {
  /* background-color: #9ece25d9; */
}
[v-cloak] {
  display: none;
}
.hero {
  background-color: #7db7ddeb;
  width: 100%;
  height: 10%;
  border-radius: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}
#doit {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;  
}
.hidden {
  display: none;
  max-width: 100%;
  margin-left: 30px;
  margin-right: 40px;
}

i {
    float: right;
    margin-left: 15px;
    font-size: 14px;
}
i:hover {
  font-style: 20px;
  text-shadow: #212529;
}
h5 {
  margin-bottom: 1rem;
}

#task-area {
    margin-left: 2%;
}

.bi-pencil-square {
    color: rgb(89, 121, 42);
    margin-left: 2px;
    margin-right: 2px;
}
.bi-trash {
    color: rgb(138, 26, 48);
    margin-left: 2px;
    margin-right: 2px;
}

textarea {
  resize: none;
  height: 30px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem .375rem .75rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, .15s;
  transition-timing-function: ease-in-out,ease-in-out;
  transition-delay: 0s, 0s;
}

/* STYLE CARDS */
.card {
  padding: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: left;
    transition: 0.3s;
    margin-bottom: 5px;
    border-radius: 1rem;
    
  }
  .card:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
  }

  .form-box {
      margin: 10px 40px 10px 20px;

  }
  .taskTitle {
    display: block;
    
  }
 input.readonly {
   max-width: 90%;
   min-width: 85%;
   margin-bottom: .50rem;
 }




/* ADD TASK CARD */

.addTaskCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    text-align: justify;
    transition: 0.3s;
    margin-top: 1px;
    margin-bottom: 65px;
    border-radius: .25rem;
  }
  .addTaskCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

/* ADJUSTMENTS TO INPUT AND TEXTAREA  */
.control {
  height: 30px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem .375rem .75rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, .15s;
  transition-timing-function: ease-in-out,ease-in-out;
  transition-delay: 0s, 0s;
}
.due {
  background-color: #fff;
  line-height: 1;
  padding: 0.375rem 0.75rem .375rem .75rem;
  border-radius: .25rem;
  font-size: .75rem;
  
}
#dueDate {
  border-radius: .50rem;
  font-size: .75rem;
  line-height: 1;
  padding: 0.375rem 0.75rem .375rem .75rem;
}

/* END CONTROLS INPUT AND TEXTAREA  */
.checkbox {
  margin-right: 5px;
  
}

.trashBtn {
  border: none;
  padding: 0;
  margin: 0;
}
.trashBtn:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.01);
}

.pencilBtn {
  border: none;
  padding: 0;
  margin: 0;
}
.pencilBtn:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.01);
}


div.completed {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
textarea.noteArea {
  border: none;
  
}
input.titleArea {
  border: none;
}

/* PWA STYLES ONLY */

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

/* ALL NEW CSS-REDOS */

/* BUTTONS */
button {
  max-width: 100%;
  float: right;
  margin: .25rem;
  padding: .375rem 1rem;
  font-size: 12px;
  border-radius: .30rem;
  border: 1px solid #0a58ca;
  transition: color .15s ease-in-out;
}
.addBtn {
  background-color: #fff;
  color: #0a58ca;
}
.addBtn:hover {
  background-color: #0a58ca;
  color:#fff;
}

.taskBtns {
  margin: .30rem;

}
.cancelBtn {
  background-color: #0a58ca;
  color: #fff;
  border-color:#0a58ca;
  border-radius: .25rem;
}
.cancelBtn:hover {
  background-color: #fff;
  color: #0a58ca;
}

.pencilBtn {
  margin-right: 1px;
  margin-left: 2px;
}
.trashBtn {
  margin-right: 2px;
  margin-left: 1px;
}
input[type=date]{
  border:none;
}
li>input[type=text]{
  border: none;
  font-weight: bold;
}
li>textarea{
  border: none;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}
.bb{
  border-bottom: #0a58ca solid .15rem;
}