.center-aligned {
    text-align: center;
}

body {
    background-color: aqua;
}

.batman {
    color:darkgray;
    background-color: black;
}

.joker {
    color: purple;
    background-color: green;
}