body {
    display:flexbox;
    margin:auto;
    text-align: center;
    width: 310px;
}

.batman {
    color:darkgray;
    background-color: black;
}

.riddler {
    color: greenyellow;
    background-color: purple;
}