<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script>

const firebaseConfig = {
    apiKey: "AIzaSyC3Ij4reGVts5e2D6HAYOhpCJgdd76teHM", 
    authDomain: "listapproot.firebaseapp.com",
    projectId: "listapproot",
    storageBucket: "listapproot.appspot.com",
    messagingSenderId: "398474013698",
    appId: "1:398474013698:web:a332fd275f59da2a2b8b1b"
};   
 // Initialize Firebase
firebase.initializeApp(firebaseConfig);
var db = firebase.firestore();
// var contactRef = db.collection("contacts");

</script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
            <div class="inputContact">
                <v-row justify="center">
                    <v-col cols="8" sm="6">
                <v-card>

                    <v-card-title class="light-blue darken-3">
                        <span class="text-h5 white--text">Add Contact</span>
              
                        <v-spacer></v-spacer>
              
                        <v-btn dark icon>
                          <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
              
                        <v-btn dark icon>
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
              
                        <v-btn dark icon>
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>

                      </v-card-title>
                <form ref="form" class="ml-5 mr-5">
<!-- FIRST NAME -->
                    <v-text-field
                      v-model="firstName"
                      :error-messages="firstNameErrors"
                      :counter="20"
                      label=" First Name"
                      required
                      @input="$v.firstName.$touch()"
                      @blur="$v.firstName.$touch()"
                    ></v-text-field>
<!-- LAST NAME -->
                    <v-text-field
                      v-model="lastName"
                      :error-messages="lastNameErrors"
                      :counter="20"
                      label="Last Name"
                      required
                      @input="$v.lastName.$touch()"
                      @blur="$v.lastName.$touch()"
                    ></v-text-field>
                    
<!-- PHONE NUMBER -->
                    <v-text-field
                      v-model="phoneNumber"
                      :error-messages="phoneNumberErrors"
                      label="Phone"
                      required
                      @input="$v.phoneNumber.$touch()"
                      @blur="$v.phoneNumber.$touch()"
                    ></v-text-field>
<!-- EMAIL -->
                    <v-text-field
                      v-model="email"
                      :error-messages="emailErrors"
                      label="E-mail"
                      required
                      @input="$v.email.$touch()"
                      @blur="$v.email.$touch()"
                    ></v-text-field>
<!-- NOTES -->
                    <v-text-field
                      v-model="notes"
                      :error-messages="notesErrors"
                      label="Notes"
                      required
                      @input="$v.notes.$touch()"
                      @blur="$v.notes.$touch()"
                    ></v-text-field>                    
<!-- SELECT GROUP -->
                    <v-select
                      v-model="select"
                      :items="items"
                      :error-messages="selectErrors"
                      label="Group"
                      required
                      @change="$v.select.$touch()"
                      @blur="$v.select.$touch()"
                    ></v-select>
                    
                
                    <v-btn
                      class="ml-4 mr-4 mb-4"
                      @click="submit()"
                    >
                      submit
                    </v-btn>
                    <v-btn class="mb-4" @click="clear()">
                      clear
                    </v-btn>
                  </form>
                
                </v-card>
                </v-col>
                </v-row>
            </div>
            <!-- CONTACT LIST -->
            <div class="contactList">
              <v-row justify="center">
                <v-col cols="12" sm="8">

                  <v-card>
                    <v-card-title class="cyan darken-1">
                      <span class="text-h5 white--text">Andy Gardner</span>
            
                      <v-spacer></v-spacer>
            
                      <v-btn dark icon>
                        <v-icon>mdi-chevron-left</v-icon>
                      </v-btn>
            
                      <v-btn dark icon>
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
            
                      <v-btn dark icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>

                    </v-card-title>
            
                    <v-list>
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon>mdi-phone</v-icon>
                        </v-list-item-action>
            
                        <v-list-item-content>
                          <v-list-item-title>203-333-4444</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                          <v-icon>mdi-message-text</v-icon>
                        </v-list-item-action>
                      </v-list-item>
            
                      <v-divider inset></v-divider>
            
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon>mdi-message-text</v-icon>
                        </v-list-item-action>
            
                        <v-list-item-content>
                          <v-list-item-title>ag@uconn.edu</v-list-item-title>
                        </v-list-item-content>
            
                        <v-list-item-action>
                          <v-icon>mdi-message-text</v-icon>
                        </v-list-item-action>
                      </v-list-item>
            
                      <v-divider inset></v-divider>
            
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon>mdi-email</v-icon>
                        </v-list-item-action>
            
                        <v-list-item-content>
                          <v-list-item-title>Some notes about this guy</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
            
                      <v-divider inset></v-divider>
            
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon>mdi-map-marker</v-icon>
                        </v-list-item-action>
            
                        <v-list-item-content>
                          <v-list-item-title>Stamford, CT 06938</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
            
                    
                  </v-card>
                </v-col>
              </v-row>
            </div>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- <script src="app.js"></script> -->
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
       data: () => ({
        // newContact: {
          firstName: '',
          lastName: '',
          phoneNumber: '',
          email: '',
          notes: '',
          select: null,
          groups: [
            'Personal',
            'Business',
        ],
      // },
        
      }),
    computed: {
      selectErrors () {
        const errors = []
        if (!this.$v.select.$dirty) return errors
        !this.$v.select.required && errors.push('Group is required')
        return errors
      },
      firstNameErrors () {
        const errors = []
        if (!this.$v.firstName.$dirty) return errors
        !this.$v.firstName.maxLength && errors.push('First Name must be at most 20 characters long')
        !this.$v.firstName.required && errors.push('First Name is required.')
        return errors
      },
      lastNameErrors () {
        const errors = []
        if (!this.$v.lastName.$dirty) return errors
        !this.$v.lastName.maxLength && errors.push('Last Name must be at most 20 characters long')
        !this.$v.lastName.required && errors.push('Last Name is required.')
        return errors
      },
      phoneNumberErrors () {
        const errors = []
        if (!this.$v.phoneNumber.$dirty) return errors
        !this.$v.phoneNumber.maxLength && errors.push('Phone number must be at most 10 characters long')
        !this.$v.phoneNumber.required && errors.push('Phone number is required.')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
    },
    methods: {
      submit () {
        this.$v.$touch()
        db.collection('contacts').add({
          firstName: this.newContact.firstName,
          lastName: this.newContact.lastName,
          phoneNumber: this.newContact.phoneNumber,
          email: this.newContact.email,
          notes: this.newContact.notes,
          select: this.newContact.select,
          group: this.newContact.group,
        })
        .then((docRef)=>{
          console.log("Document written with ID: ", docRef.id);
        })
        .catch((error)=>{
          console.log("Error adding contact: ", error)
        })
      },
      clear () {
        this.$v.$reset()
        this.firstName = ''
        this.lastName = ''
        this.phoneNumber = ''
        this.email = ''
        this.notes = ''
        this.select = null
        
      },
    },
      }),
    })
  </script>
</body>
</html>


