<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire">
      


               
            
                <v-app-bar app height="72" clipped-right>
                    <v-btn icon>
                        <v-icon 
                        color="primary">mdi-arrow-left</v-icon>
                      </v-btn>
                  <!-- <v-app-bar-nav-icon @click="drawer = !drawer" color="primary"></v-app-bar-nav-icon> -->
            
                  <v-toolbar-title>DM Eric</v-toolbar-title>
                  

                  <v-spacer></v-spacer>

                 </v-app-bar>


                
                <v-navigation-drawer
                  app
                  clipped
                  right
                >
               <!-- CONTENT FOR RIGHT NAV DRAWER -->
               
                </v-navigation-drawer>

      <v-main>
        <v-container>
          <div class="mb-10">
            <!-- ADD LIST OF NEW MESSAGE -->
            <!-- <v-card
            elevation="2"
         > -->
         <v-list two-line>
            <template v-for="(item, index) in messages">
              <v-subheader
                v-if="item.header"
                :key="item.header"
                inset
              >
                {{item.header}}

              </v-subheader>
  
              <v-divider
                v-else-if="item.divider"
                :key="index"
                inset
              ></v-divider>
  
              <v-list-item
                v-else
                :key="item.username"
                ripple
              >
                
                <v-list-item-content>
                  <v-list-item-title v-html="item.username"></v-list-item-title>
                  <v-list-item-subtitle
                    v-html="item.subtitle"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
     <!-- </v-card>  -->

          </div> 
                
            <!-- TWEETS FROM ALL USERS -->

          </v-container>
          <div
          absolute
          >
          <v-bottom-navigation
             elevation="3"
             
             height="130"
             >
             <v-container>
                 <v-row 
                 class="mx-1">
                    <v-col>
                        <v-form >
                            <v-textarea
                            v-model="bio"
                            auto-grow
                            color="primary"
                            label="What's Happening"
                            rows="1"
                            class="pa-0"
                          ></v-textarea>
        
                             <v-row>
                                <v-btn icon class='mr-1'>
                                  <v-icon color="primary">mdi-panorama-variant-outline</v-icon>
                                </v-btn>
                                <v-btn icon class='mx-1'>
                                  <v-icon color="primary">mdi-emoticon-outline</v-icon>
                                </v-btn>
                                
                              </v-row>
                     </v-col>

                     <v-btn 
                      icon
                      large
                     >
                    <v-icon color="primary">mdi-send</v-icon>
                    </v-btn>

                 </v-row>
                 
                
                     
                      

                </v-form>
             </v-container>
                
             
             

            </v-bottom-navigation>
          </div>
          
      </v-main>
    </v-app>
  </div>
  <script src="firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data(){
          return{
              hw:'Hello World',
              drawer:null,
              links: [
                ['mdi-android-messages', 'Home'],
                ['mdi-inbox-arrow-down', 'DM'],
                ['mdi-contacts-outline', 'Contact'],
                ['mdi-account-circle', 'Profile'],
                ],
                rules: [
                value=> value.length <=225 || 'Max 225 characters',
            ],
                message:{
                    avatar:'',
                    from:'',
                    to:'',
                    content:'',
                    sent:'',
                },
                messages: [
          {
            header: 'Today',
          },
          { divider: true },
          {
            avatar: 'https://picsum.photos/250/300?image=660',
            from: '',
            to: '',
            content:
            'Dividers and subheaders can help break up content and can optionally line up with one another by using the same inset prop. Create custom cards to fit any use-case. Vertical dividers give you more tools for unique layouts. !!',
          },
          {
            avatar: 'https://picsum.photos/250/300?image=821',
            username: 'Operations <span class="grey--text text--lighten-1"> 3:35pm</span>',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Wish I could come.',
          },
          {
            avatar: 'https://picsum.photos/250/300?image=783',
            username: 'Bella',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Do you have Paris recommendations',
          },
          {
            header: 'Yesterday',
          },
          { divider: true },
          {
            avatar: 'https://picsum.photos/250/300?image=1006',
            username: 'Latoya',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Do you want to hang out?',
          },
          {
            avatar: 'https://picsum.photos/250/300?image=146',
            username: 'Nancy',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Do you see what time it is?',
          },
          {
            header: 'Last Week',
          },
          { divider: true },
          {
            avatar: 'https://picsum.photos/250/300?image=1008',
            username: 'LaToya',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Do you want to hang out?',
          },
          {
            avatar: 'https://picsum.photos/250/300?image=839',
            username:
              'Daniel  <span class="grey--text text--lighten-1">4:25pm</span>',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Tell me more...',
          },
          {
            avatar: 'https://picsum.photos/250/300?image=145',
            username: 'Nancy',
            subtitle:
              '<span class="font-weight-bold"></span> &mdash; Do you see what time it is?',
          },
        ],

            
                  
          }
          
          
      },
    //   methods: {
    //         addfeed() {
    //           db.collection('feeds').add ({
    //             username: this.feed.username,
    //             content: this.feed.content,
    //             createdAt: this.feed.createdAt,
    //             likes: this.feed.likes,
    //           })
    //           .then((docRef)=>{
    //             console.log("Document written with ID: " , docRef.id);
    //           })
    //           .catch((error)=>{
    //             console.log("Error adding document: ", error);
    //           })
    //           this.feed.content = ''
    //         },
    //         getFeedFromFirebase(){
    //           db.collection("feeds")
    //           .onSnapshot((querySnapshot)=>{
    //               this.feeds = [];
    //               querySnapshot.forEach((doc)=>{
    //                   this.feeds.push({
    //                       username:doc.data().username,
    //                       content:doc.data().content,
    //                       createdAt:doc.data().createdAt,
    //                       likes:doc.data().likes,
    //                       id:doc.id,
    //                   })
    //                 })
    //           })
    //       },
          
    //       },
    //       mounted() {
    //         this.getFeedFromFirebase();
    //       },
    })
  </script>
</body>
</html>