@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;700&display=swap');

body{
    font-family: 'Atma', cursive;
    text-align: center;
    margin: 5%;
}

input[type=text] {
    width: 130px;
    padding: 3px 5px;
    margin: 25px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(72, 69, 69);
   transition: width 0.4s ease-in-out; 
 }
input[type=text]:focus {
    width: 80%;
 }

  /*Styling list items  */
li { 
    text-decoration: none;
    /* text-align: justify; */
}
li:hover {
      color: crimson;
      text-decoration: line-through;
      cursor: pointer;
  }

  li::marker {
      color:blue;
      
  }

  .parent {
      position: relative;
  }

  #inputItem {
    position: absolute;
    width: 50%;
    bottom: 10px;
}

#list-wrapper {
    background-color: aqua;
    width: 200px;
    height: 10px;
    margin-bottom: 25px;
}
#myList {
    background-color: blue;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-align: justify;
}