@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;700&display=swap');

body{
    font-family: 'Atma', cursive;
}

input[type=text] {
    width: 130px;
    padding: 3px 5px;
    margin: 25px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(72, 69, 69);
   transition: width 0.4s ease-in-out; 
 }
input[type=text]:focus {
    width: 80%;
 }

  /*Styling list items  */
li { 
    text-decoration: none;
}
li:hover {
      color: crimson;
      text-decoration: line-through;
      cursor: pointer;
  }

  .parent {
      position: relative;
  }

  #shoplist {
    position: absolute;
    width: 50%;
    bottom: 10px;
}