#doit {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
span{
    float: right;
    margin-left: 15px;
}
.btn-update {
    float: right;
    margin: 5px;
    color: #0a58ca;
    background-color: #fff;
    border-color: #0a58ca;
    border: 1px solid;
    border-radius: .25rem;
    font-size: 12px;
    padding: .375rem 1rem;
    transition: color .15s ease-in-out;
}
.btn-update:hover{
    color: #fff;
    border-color: #0a58ca;
    background-color: #0a58ca;
}
#task-area {
    margin-left: 2%;
}

.bi-pencil-square {
    color: rgb(89, 121, 42);
}
.bi-trash {
    color: rgb(138, 26, 48);
}
div#update {
    margin-top: 1rem;
}
textarea {
    height: 50px;
}

/* STYLE TEST CARD */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: justify;
    transition: 0.3s;
    margin-bottom: 5px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
 
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  .mb-31 {
      max-width: 100%;
      margin-left: 50px;
      margin-right: 40px;
  }
  .form-check3 {
      margin: 15px 25px 5px;
    
  }
  /* END OF CARD TEST */