#doit {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
span{
    float: right;
    margin-left: 15px;
}
.btn-update {
    float: right;
    margin: 5px;
}
#task-area {
    margin-left: 2%;
}